/* Your code here */
nav ul {
    display: flex;
    font-size: 12px;
    justify-content: center;
    gap: 20px;
    margin: 10px 0;
}

@media (max-width: 999px) {
    nav {
        display: none;
    }
}
