/* Your code here */
.masthead {
    display: grid;
    grid-template-columns: repeat(3, calc(100% * 1/3));
    grid-template-areas:
        "menu . action"
        "tech tech tech"
        "date logo paper";
    padding-top: 10px;
}

.masthead__menu-and-search {
    grid-area: menu;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.masthead__actions {
    grid-area: action;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.masthead__technologies {
    border-bottom: 1px solid #e2e2e2;
    display: flex;
    font-size: 10px;
    grid-area: tech;
    justify-content: center;
    text-transform: uppercase;

}

.masthead__technologies > div {
    background-color: white;
    border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
    border-top: 1px solid #e2e2e2;
    position: relative;
    top: 1px;
}

.masthead__technologies span {
    color: #6f6f6f;
    margin: 5px;
}

.masthead__date {
    border-bottom: 1px solid #e2e2e2;
    grid-area: date;
    padding-left: 10px;
    padding-bottom: 11px;
}

.masthead__logo {
    align-items: center;
    border-bottom: 1px solid #e2e2e2;
    display: flex;
    grid-area: logo;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 11px;
}

.masthead__logo img {
    width: initial;
}

.masthead__paper {
    border-bottom: 1px solid #e2e2e2;
    grid-area: paper;
    justify-content: flex-end;
    padding-bottom: 11px;
    padding-right: 10px;
}

.masthead__date,
.masthead__paper {
    align-items: flex-end;
    display: flex;
    font-size: 11px;
    line-height: normal;
}

.icon-box {
    cursor: pointer;
    font-size: 11px;
    padding: 7px 9px;
}

.icon-box:hover {
    background-color: #f7f7f5;
}

.fa-newspaper {
    padding-right: 3px;
}
